# Mac OS
.DS_Store
_DelSyncFiles

# Node JS
node_modules
package-lock.json

# Local Development Environment Configuration
.env.*json
tsconfig.client.json
tsconfig.server.json

# Snyk cache
.dccache
node_modules/

# Build Output Files
dist/
build/

# Logs
*logs/
*.log

# Environment Vars
.env*

# Secrets
.private
.secrets

# Config
config/